global
  log stdout format raw local0 info
defaults
  log     global
  mode    tcp
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  timeout tunnel 1h
  timeout client-fin 30s

frontend https
  bind *:32443
  mode tcp
  tcp-request inspect-delay 5s
  acl perfsonar_sni req_ssl_sni -i perfsonar.ska.zverse.space
  acl gatekeeper_sni req_ssl_sni -i gatekeeper.ska.zverse.space
  acl public_sni req_ssl_sni -i xrootd.ska.zverse.space jupyterhub.ska.zverse.space grafana.ska.zverse.space jumpserver.ska.zverse.space gitea-ops.ska.zverse.space
  tcp-request content reject if !gatekeeper_sni !perfsonar_sni !public_sni
  use_backend perfsonar_service if perfsonar_sni
  use_backend gatekeeper_service if gatekeeper_sni
  default_backend k8s_ingress_https

backend k8s_ingress_https
  mode tcp
  balance roundrobin
  server worker1 192.168.254.175:32443
  server worker2 192.168.254.176:32443
  server worker2 192.168.254.177:32443

backend gatekeeper_service
  mode tcp
  balance roundrobin
  server worker1 192.168.254.175:31443
  server worker2 192.168.254.176:31443
  server worker2 192.168.254.177:31443

backend perfsonar_service
  mode tcp
  balance roundrobin
  server ubuntu_vm 192.168.254.201:30443

frontend perfsonar_iperf3
  mode tcp
  bind *:31521
  use_backend perfsonar_iperf3_service
backend perfsonar_iperf3_service
  mode tcp
  balance roundrobin
  server ubuntu_vm 192.168.254.201:31521

frontend perfsonar_owamp_control
  bind *:31861
  use_backend perfsonar_owamp_control_service
backend perfsonar_owamp_control_service
  mode tcp
  balance roundrobin
  server ubuntu_vm 192.168.254.201:31861
